<h2 id="title">Welcome to Ember.js</h2>
<button {{action "download"}}>Download</button>
<progress {{bind-attr value=progressValue max=max}} ></progress>
{{#if downloadUrl}}
  <a id="link" {{bind-attr href=downloadUrl }}>Download</a>
{{/if}}
